@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background-image: url('/images/background-accueil.webp');
  background-size: cover;
}

.main p {
  margin: 1vh;
  color: white;
  font-size: 4vh;
  text-align: center;
  font-family: "Roboto Mono";
}